:root{
    --color1:#031740;
    --color2:#002f8e;
    --color3:#0B438C;
    --color4:#148DD9;
    --color-btnHover:#137cbd;
    --color-btnActive:#085f96;
    --color5:#27CDF2;
    --color6: #f7fdff;
}